.banner{
    width: 1300px;
    height: 600px;
    margin: 70px;
    background-color: #A6BA4C;
    padding: 50px;
    color: #fff;
    display: flex;
    justify-content: space-between;

    p{
        width: 620px;
        font-size: 20px;

        span{
            font-weight: 600;
            font-size: 24px;
        }
    }
}

@media (max-width: 768px) {
    .banner{
        width: 694px;
        height: 320px;
        margin: 0 auto;
        margin-top: 37px;
        padding: 26px;
        color: #fff;
    
        p{
            width: 338px;
            font-size: 10px;
    
            span{
                font-size: 12px;
            }
        }
    }
}