.banner{
    width: 1300px;
    height: 600px;
    margin: 70px;
    background-color: #A6BA4C;
    padding: 50px;
    color: #fff;
    display: flex;
    justify-content: space-between;

    p{
        width: 620px;
        font-size: 20px;

        span{
            font-weight: 600;
            font-size: 24px;
        }
    }
}